<div id="wrap" class="wrapper">
    <div class="sidebarbutton"><div></div><div></div><div></div></div>
    <div class="logo" alt="img"></div>
    <div class="container">
        <div class="button home">HOME</div>
        <div class="button eventtype" (click)="submenuopen()"><div id="eventheaderid" class="eventtypeheader">EVENT TYPE<div class="down-arrow"></div></div>
            <div id="submenuid" class="submenu">
                <ul>
                    <li>Workshops</li>
                     <li>Conferences</li>  
                      <li>Concerts/ Pro Nights</li>  
                     <li>Seminars</li>   
                     <li>Accommodation</li>   
                    <li>Entrepreneurship</li>  
                     <li>Travel</li>   
                    <li>Fun & Other Events</li>  
                    <li>Online Events</li>    
                    <li>Alumni meet</li>    
                    <li>Departmental Events</li>    
                    <li>Symposium</li>    
                    <li>Model United Nations</li>    
                    <li>TEDx Events</li>
                    <li>Others</li>
                </ul>
            </div>
        </div>
        <div class="button mycart">MY CART</div>
        <div class="button account">LOGIN</div>
    </div>
</div>

